<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<form action="/signUp/create" method="POST">
    <input name = "username" type="text" placeholder="Username" required>
    <input name = "password" type="password" placeholder="Password" required>
    <input name = "displayName" type="text" placeholder="Display Name" required>
    <button type = "submit">전송</button>
</form>
</body>
</html>